:root {
  /* Primary */
  --strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

body img:nth-child(1) {
  margin-bottom: 50px;
}

.container {
  background-color: var(--white);
  width: 50%;
  border-radius: 15px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.options-container p {
  margin-bottom: 10px;
  color: var(--darker-grayish-cyan);
}

/* Eliminate arrows in input field */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: var(--lighter-grayish-cyan);
  color: var(--very-dark-cyan);
  text-align: right;
  background-image: url("./images/icon-person.svg");
  background-repeat:no-repeat;
  background-position: 20px 20px;
  caret-color: transparent;
  outline: none;  
}

.options-container input:nth-child(2) {
  background-image: url("./images/icon-dollar.svg");
}

input:focus {
  box-shadow: 0 0 0 2px var(--strong-cyan);
}

.custom-input {
  margin: 0;
  color: var(--very-dark-cyan);
  background-image: none;
}

/* Center only the placeholder in the custom input */

.custom-input::-webkit-input-placeholder {
  text-align: center;
}

.custom-input:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

.custom-input::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.custom-input:-ms-input-placeholder {  
  text-align: center; 
}

.grid-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;  
}

.item {
  cursor: pointer;
  color: var(--white);
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
  padding: 10px 3px 10px 3px;  
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}

.item:hover {  
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan);
}

.output-container {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 30px;
}

.flex-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.amount-letters p {
  margin: 0;
  color: var(--white)
} 

.amount-letters p:nth-child(2) {
  color: var(--dark-grayish-cyan);
} 

.amount-numbers {
  display: flex;   
}

/* .amount-numbers img {
  font-size: 24px;
} */

.amount-numbers p { 
  color: var(--strong-cyan);
  font-size: 50px;
  margin-top: -15px;
  vertical-align: text-top;
}

button {
  cursor: pointer;
  padding: 10px;
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);  
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 24px;
  outline: none;
}

.button-clicked {
  color: var(--very-dark-cyan);
  background-color: var(--lighter-grayish-cyan);      
}

button:hover {  
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan);
}
